*
{
	margin:0;
	padding:0;
	text-align: center;
	font-family: tahoma,Arial,times;
    color: #ffffff;
    text-shadow: -2px 0 rgba(0, 0, 0, 0.5), 0 2px rgba(0, 0, 0, 0.5), 2px 0 rgba(0, 0, 0, 0.5), 0 -2px rgba(0, 0, 0, 0.4);
    transition:1s;
}
body
{
	background-image:url("../img/w.jpg");
}

#banner
{
	border-radius: 40px;
	width: 80%;
	box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.6);
	border:outset 3px rgba(100,10,0,1);
}
nav
{
	a
	{
		text-decoration: none;
		font-size:2em;
		background-color: rgb(40,10,0);
		border-radius: 10px;
		padding: 6px;
		box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.8);

		&:hover
		{
		background-color: rgb(200,10,0);	
		}
	}

}
#content
{
float: left;
width: 100%;
	h1
	{
    background-color: rgba(100,10,0,0.8); 
    margin-bottom: 20px;
	&:hover
	{
    background-color: rgba(100,10,0,1);
	box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.8);
	}
	}

}
#galeria
{width: 100%;

	div
	{   padding-top: 20px;
		padding-bottom: 20px;
		float: left;
		width: 30%;
		margin-left: 3%;
		background-color: rgba(100,10,0,0.8);
		border-radius: 20px;
		box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.8);
		&:hover
		{
        background-color: rgba(100,10,0,1);
		}
        
		img
		{
			width: 100%;
			border-radius: 20px;
			box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.8);
			border: outset 1px rgb(100,10,0);
			margin-bottom: 10px;

		}
	}
}
footer
{

float: left;
width: 100%;
border-top: outset 3px rgba(50,5,0,1);
background-color: rgba(100,10,0,0.9);
margin-top: 100px;
padding:10px 0 10px 0;
h2,h3
{
	margin-bottom: 10px;
}
img
{
	width: 15%;
	border-radius: 10px;
}
}

#er
{
	width: 40%;
}

/*--------------inicio responsive design----------------*/





@media screen and (max-width: 800px){


#banner
{
	border-radius: 40px;
	width: 100%;
	box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.6);
	border:outset 3px rgba(100,10,0,1);
}
#content
{
float: left;
width: 100%;

}
#galeria
{width: 100%;
	div
	{ margin:2%;
		float: left;
		width: 95%;
		background-color: rgba(100,10,0,1);   
		img
		{
			width: 90%;
		}
	}
}
footer
{
float: left;
margin-top: 100px;
background-color: rgba(100,10,0,1);
img
{
	width: 30%;
}

}
#er
{
	width: 100%;
}
nav
{
	display: none;
}

	}
